body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cdcdcd;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  padding: 0 30px;
  border: 1px solid rgb(19, 6, 82);
}

.value {
  font-size: 60px;
}
